<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${isNew}?'Create Book':'Update Book'">Title</title>
    <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container">
    <br>
    <br>
    <div class="row p-4" style="border: 2px solid grey;">
        <form th:action="${isNew}?'/create/submit':'/update/submit'" method="post" th:object="${book}" enctype="multipart/form-data">
            <input type="number" class="form-control" th:field="*{id}" hidden="hidden" aria-describedby="emailHelp" placeholder="Enter ID">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" th:field="*{title}" aria-describedby="emailHelp" placeholder="Enter Title"><span style="color: #b21e1e" th:if="${#fields.hasErrors()}" th:errors="*{title}">Error</span>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" th:field="*{author}" aria-describedby="emailHelp" placeholder="Enter Author"> <span></span>
            </div>
            <div class="form-group">
                <label>Publisher</label>
                <input type="text" class="form-control" th:field="*{publisher}" aria-describedby="emailHelp" placeholder="Enter Publisher"> <span></span>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select name="category.c_id" id="category_id">
                    <option th:each="category: ${categories}" th:object="${category}" th:value="*{c_id}" th:text="*{cname}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" th:field="*{thumbnail}" hidden="hidden">
                <input type="file" name="file" value="123">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<div layout:fragment="script">
    <script th:inline="javascript">

        /*<![CDATA[*/
           var categories = /*[[${categories}]]*/ 'Sebastian';
           var book_id = /*[[${book.category.c_id}]]*/ null;
           console.log(book_id, book_id)
        /*]]>*/
        $(document).ready( () => {
            $.each(categories, (index, category) => {
                if (category.c_id == book_id) {
                    $('#category_id option[value="' + book_id + '"]').attr('selected', 'selected')

                }
            })


        })
    </script>
</div>


</body>
</html>