<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Book Management</title>

</head>
<body>

<div layout:fragment="content" class="container-fluid">
    <div class="row mb-3">
        <form class="col-10 mx-auto" id="search-form" >
            <!--<form class="col-10 mx-auto" action="/index" >-->
            <div class="row">
                <div class="col pl-0">
                    <select id="cate_id" name="cate_id" class="form-control">
                        <option value="">All Category</option>
                        <option th:each="category: ${categories}" th:value="${category.c_id}" th:text="${category.cname}">Category</option>
                    </select>
                </div>

                <div class="col pl-0">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Search Title">
                </div>
                <div class="col pl-0">
                    <select name="sortBy" id="sortBy" class="form-control">
                        <option value="">Sort By</option>
                        <option th:each="column: ${columns}" th:value="${column}" th:text="${column} == 'cid'?'Category':${#strings.capitalize(column)}">Category</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-search"></i></button>
            </div>
        </form>




    </div>
    <div class="row">

        <table id="table-id" class="table table-bordered table-hover col-11 mx-auto table-responsive-sm table-responsive-md">
            <caption>No Of Book: [[${records}]]</caption>
            <thead>
            <tr>
                <th th:text="#{table.id}">ID</th>
                <th th:text="#{table.title}">Title</th>
                <th th:text="#{table.author}">Author</th>
                <th th:text="#{table.publisher}">Publisher</th>
                <th th:text="#{table.thumbnail}"></th>

                <th th:text="#{table.category}">Category</th>
                <th>[[#{table.action}]]</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${books}">
                <td>[[${book.id}]]</td>
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td th:text="${book.getPublisher()}"></td>
                <td>
                    <img style="width: 100px; height: 100px" th:src="${book.getThumbnail()}" alt="No Image">
                </td>
                <td th:text="${book.category.getCname()}"></td>
                <td>
                    <a th:href="@{/view/{id}(id=${book.getId()})}"><button class="btn btn-info"><i class="fas fa-info-circle"></i></button></a>
                    <a th:href="@{/update/{book_id}(book_id=${book.getId()})}"><button class="btn btn-primary"><i class="fas fa-edit"></i></button></a>
                    <button class="btn btn-danger" th:attr="data-id=${book.id}"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            </tbody>

        </table>

    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-modal" data-whatever="@mdo">Create New</button>

        <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form >
                            <input type="number" class="form-control" id="id" hidden="hidden" aria-describedby="emailHelp" placeholder="Enter ID">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" id="ctitle" aria-describedby="emailHelp" placeholder="Enter Title">
                            </div>
                            <div class="form-group">
                                <label>Author</label>
                                <input type="text" class="form-control" id="cauthor" aria-describedby="emailHelp" placeholder="Enter Author"> <span></span>
                            </div>
                            <div class="form-group">
                                <label>Publisher</label>
                                <input type="text" class="form-control" id="cpublisher" aria-describedby="emailHelp" placeholder="Enter Publisher"> <span></span>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <select  id="cat_id">
                                    <option th:each="category: ${categories}" th:object="${category}" th:value="*{c_id}" th:text="*{cname}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" id="thumbnail" hidden="hidden">
                                <input type="file" name="file" value="123">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="script">
    <script>
        $(document).ready(function() {
            $("#create-modal").modal({
                show: false,
                backdrop: 'static',
                keyboard: false
            });
            const bookFilter = (cate_id, book_title, sortby) => {
                var tr = "";
                $.ajax({
                    url: '/api/v1/book/filter?cate_id=' + cate_id + '&title=' + book_title + '&sortBy=' + sortby,
                    type: 'get',
                    success: (response) => {
                        $.each(response, function (index, book) {
                            tr += `<tr>
                                <td>` + book.id + `</td>
                                <td>` + book.title + `</td>
                                <td>` + book.author + `</td>
                                <td>` + book.publisher + `</td>
                                <td>
                                <img style="width: 100px; height: 100px" src='` + (book.thumbnail == null?"":book.thumbnail) + `' alt="No Image">
                                </td>
                                <td>` + book.category.cname + `</td>
                                <td>
                                <a><button class="btn btn-info"><i class="fas fa-info-circle"></i></button></a>
                    <a href="/update/` + book.id + `"> <button class="btn btn-primary"><i class="fas fa-edit"></i></button></a>
                    <button class="btn btn-danger" data-id="` + book.id + `" ><i class="fas fa-trash-alt"></i></button>
                            </td>
                            </tr>`;
                        });

                        $('#table-id tbody').empty();
                        $('#table-id tbody').append(tr);
                    },
                    error: (error) => console.log(error)
                });
            };
            $('body').on('click', '.btn-danger', function () {
                var data_id = $(this).attr("data-id");
                if (confirm("Do you want to delete?")) {
                    $.ajax({
                        url: '/api/v1/book/' + data_id,
                        type: 'DELETE',
                        success: (success) => bookFilter('', '', '')
                    })
                } else {
                    return;
                }
            });

            $('body').on('click', '#btn-save', (e) => {
                var title = $('#ctitle').val();
                var author = $('#cauthor').val();
                var publisher = $('#cpublisher').val();
                // var thumbnail = $('#thumbnail').val();
                var category = $('#cat_id').val();
                var book = {
                    'title': title,
                    'author': author,
                    'publisher': publisher,
                    'category': {
                        'c_id': category
                    }
                };

                $.ajax({
                    url: '/api/v1/book',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(book),
                    success: (response) => {
                        $("#create-modal").modal('toggle');
                        bookFilter('', '', '');
                    }
                })
            })

            $('#search-form').on('submit', (event) => {
                var cate_id = $("#cate_id").val();
                var title = $("#title").val();
                var sortby = $("#sortBy").val();
                if (cate_id == null) {
                    cate_id = "";
                } else if (title == null) {
                    title = "";
                } else if (sortby == null) {
                    sortby = "";
                }
                event.preventDefault();
                bookFilter(cate_id, title, sortby);
            });

        });

    </script>
</div>
</body>
</html>