<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>View Title</title>
    <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container">
<!--    <div class="row">
        <h1>View Detail</h1>
    </div>
    <span th:object="${book}">
            ID: [[*{id}]]<br>
            Title: [[*{title}]]<br>
            Author: [[*{author}]]<br>
            Publisher: [[*{publisher}]]<br>
    </span>-->
    <br>
    <br>
    <br>
    <div class="row">
            <div class="card col-lg-3 col-md-3 col-6 col-sm-12 mx-auto" style="width: 18rem;" th:object="${book}">
                <img class="card-img-top" th:src="*{thumbnail}" alt="No Images">
                <div class="card-body" >
                    <h5 class="card-title" th:text="'Title: ' + *{title}">Card title</h5>
                    <p class="card-text" th:text="'Author: ' + *{author}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text" th:text="'Publisher: ' +  *{publisher}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text" th:text="'Category: ' + *{category.getCname()}"></p>
                </div>
        </div>
    </div>
    <div class="row">

        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>
</body>
</html>