<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello Admin</title>
</head>
<body>
<h1>Hello Admin</h1>
<!--<h1 th:text="${#authentication.principal.username}"></h1> &lt;!&ndash; Method principal list all the info availble &ndash;&gt;-->
<h1 sec:authorization="name"></h1>
</body>
</html>