<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <form action="/create-cat/submit" method="post" th:object="${category}" class="col-lg-6 col-md-8 col-12 col-sm-12 mx-auto">
            <input type="number" class="form-control" th:field="*{c_id}" hidden="hidden" aria-describedby="emailHelp" placeholder="Enter ID">
            <div class="form-group">
                <label th:for="*{cname}">Category Name</label>
                <input type="text" class="form-control" th:field="*{cname}" aria-describedby="emailHelp" placeholder="Enter Category Name"><!--<span style="color: red" th:if="${#fields.hasErrors()}" th:text="*{#fields.errors('title')}">Error</span>-->
            </div>
            <div class="form-group">
                <label th:for="*{description}">Description:</label>
                <textarea class="form-control" rows="4" th:field="*{description}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

</body>
</html>